<template name="PriceLine">
    <div class="{{webClass}}" id="{{lineId}}">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3 legend-col">
            <h4 class="legend">{{{lineLegend}}}</h4>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 text-right price-col">
            <h4 class="price {{linePriceClass}}">
                {{#withLoading price}}
                    {{> showMoney}}
                {{/withLoading}}
            </h4>
        </div>
        {{#if extraTemplate}}
            <div class="extra-col col-lg-6 col-md-5 col-sm-4 col-xs-6">
                {{> Template.dynamic template=extraTemplate }}
            </div>
        {{/if}}
    </div>
</template>

<template name="PriceCurrencyInfo">
    {{#with negotiationCurrency}}
        {{> currencyInfo }}
    {{/with}}
</template>

<template name="NegotiationButton">
    <button type="button" {{attrs}}>{{lineLegend}}</button>
</template>

<template name="NegotiationLatestMessage">
    <div {{attrs}}>
        {{#loadingUntil messageAvailable}}
            {{{messageHtml}}}
            {{#if showSpin}}
                {{{spinnerHtml}}}
            {{/if}}
        {{/loadingUntil}}
    </div>
</template>

<template name="NegotiationAcceptOfferExtra">
    {{> NegotiationAcceptOfferButton legendKey="accept_other_bid" }}
    {{#if canAcceptOffer }}
        <span id="direct-to-offer"> {{ojt 'or'}}
            <a class="jumper-anchor" href="#negotiationForm">{{ojt 'counter_below'}} <span class="glyphicon glyphicon-arrow-down"></span></a>
        </span>
    {{/if}}
</template>

<template name="NegotiationDialog">
    <div class="negotiation-details col-md-12">
        {{>RetailPriceLine extraTemplate="PriceCurrencyInfo"}}
        {{>PriceLineCallOut field="saving" legendKey="saving_legend" priceClass="price-saving"}}
        {{#if isOpenForNegotiation}}
        {{>PriceLineCallOut field="otherBid" legendKey="saving_offer" priceClass="price-important" extraTemplate="NegotiationAcceptOfferExtra" }}
        {{else}}
        {{>PriceLineCallOut field="otherBid" legendKey="last_offer" priceClass="price-important" extraTemplate="NegotiationCheckoutButton" }}
        {{/if}}
        {{>PriceLine field="bid" legendKey="your_bid_legend" priceClass="price-important" }}
        {{>NegotiationLatestMessage}}
        
        <div class="conversation-reply">
            {{#if isOpenForNegotiation  }}
                {{> NegotiationForm currentNegotiation }}
            {{/if}}
        </div>
    </div>
</template>