<template name="NegotiationHistory">
    <div class="negotiation-history-wrapper">
        <small>
            <div id="negotiation-history">
                {{#each this}}
                    {{> NegotiationHistoryRow }}
                {{/each}}
            </div>
        </small>
    </div>
</template>

<template name="NegotiationHistoryRow">
    <div class="history-item" id="history-{{id}}">
        {{index}}:
        <span class="bidder">{{legend}}</span>
        <span class="offer">{{> showMoney offer }}</span>
        <!--<span class="time-col">
          {{ moFrom time moNow }}
        </span>-->
    </div>
</template>

