<template name="NegotiationHistory">
    <div class="negotiation-history-wrapper">
        <small>
            <table class="negotiation-history panel panel-default list-group table table-condensed table-hover">
                {{#each this}}
                    {{> NegotiationHistoryRow }}
                {{/each}}
            </table>
        </small>
    </div>
</template>

<template name="NegotiationHistoryRow">
    <tr id="history-{{id}}" class="list-group-item row">
        <td class="bidder">
          {{legend}}
        </td>
        <td class="text-right offer">
          {{> showMoney offer }}
        </td>
        <td class="time-col">
          {{ moFrom time moNow }}
        </td>
      </tr>
</template>

